:root{
    --cor-rosa-claro: #ffe5f0;
    --cor-rosa-escuro: #fdcae1;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

#cordefundo{
    background-color: var(--cor-rosa-claro);
    background-image: url(assets/images/fundo.jpg);
}

header{
    text-align: center;
}

#formulario{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 2px solid #e3b1c8;
    background-color: var(--cor-rosa-escuro);
    margin-bottom: 30px;

}

button{
    color: #212529!important;
    background-color: white!important;
    border: 2px solid #e3b1c8!important;

}

button:hover {
    background-color: #e3b1c8!important; /* Altera a cor de fundo quando o mouse está sobre o botão */
    color: white!important; /* Altera a cor do texto quando o mouse está sobre o botão */
    border: 2px solid white!important;
}

.circle-container {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.image-div {
    padding: 20px 20px;
    width: 10px;
    height: 10px;
    background-color: white;
    border:2px solid #e3b1c8;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.navbar{
    background-color: var(--cor-rosa-claro);
    border-radius: 25px;
    border: 2px solid #e3b1c8;
    margin-right: 20%;
    margin-left: 20%;
}

.navbar-brand img {
    padding-left: 30px;
    height: 75px; 
    width: auto; 
       
}

.navbar-nav .nav-link {
    font-weight: bold;
    font-size: 22px; 
    margin-left: 5px;
    margin-right: 5px;
    color:#212529;
}

#mural {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 3px solid #e3b1c8;
    background-color: var(--cor-rosa-escuro);
    border-radius: 50px;
}

#botoes {
    margin-top: 80px; 
    margin-bottom: 60px; 
}

footer {
    font-weight: bold;
    text-align: center;
    background-color: var(--cor-rosa-escuro);
    padding: 10px;
    border-top: 3px solid #5b1f00;
}




