:root{
    --cor-rosa-claro: #ffe5f0;
    --cor-rosa-escuro: #fdcae1;

}

.container{
    background-image: url('assets/images/imagemfundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


